@model IEnumerable<InternalJobPortalMVC.Models.Skill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { sid=item.SkillID  }) |
                    @Html.ActionLink("Details", "Details", new { sid = item.SkillID }) |
                    @Html.ActionLink("Delete", "Delete", new { sid = item.SkillID })
            </td>
        </tr>
}
    </tbody>
</table>
