@model IEnumerable<InternalJobPortalMVC.Models.ApplyJob>

@{
    ViewData["Title"] = "ApplicationIndex";
}

<h1>ApplicationIndex</h1>

<p>
    @* <a asp-action="ApplicationCreate">Create New</a> *@
	@Html.ActionLink("Create new", "ApplicationCreate", new { postID = ViewData["postID"] })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "ApplicationEdit", new { postID=item.PostID , employeeId=item.EmployeeID }) |
                    @Html.ActionLink("Details", "ApplicationDetails", new { postID = item.PostID, employeeId = item.EmployeeID }) |
                    @Html.ActionLink("Delete", "ApplicationDelete", new { postID = item.PostID, employeeId = item.EmployeeID }) |
                    @* @Html.ActionLink("ByPostId", "ApplicationByPostId", new { postID = item.PostID}) | *@
                    @* @Html.ActionLink("ByEmpId", "ApplicationByEmpId", new { employeeId = item.EmployeeID }) | *@

            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
