@model IEnumerable<InternalJobPortalMVC.Models.EmployeeSkill>

@{
    ViewData["Title"] = "EmployeeSkillIndex";
}

<h1>EmployeeSkillIndex</h1>

<p>
    @* <a asp-action="EmployeeSkillCreate">Create New</a> *@
    @Html.ActionLink("Create new", "EmployeeSkillCreate", new { id = ViewData["id"] })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillExperience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillExperience)
            </td>
            <td>
                @Html.ActionLink("Edit", "EmployeeSkillEdit", new {  empId=item.EmployeeID , skillId = item.SkillID }) |
                    @Html.ActionLink("Details", "EmployeeSkillDetails", new { empId = item.EmployeeID, skillId = item.SkillID }) |
                    @Html.ActionLink("Delete", "EmployeeSkillDelete", new { empId = item.EmployeeID, skillId = item.SkillID }) |
                    
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
